
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.app-container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #e28888;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.counter-btn {
  margin: 15px 0;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: rgb(156, 22, 22);
  cursor: pointer;
}

.counter-btn:hover {
  background-color: #0056b3;
}


.product-list {
  margin-top: 20px;
  text-align: left;
}

.product-list ul {
  list-style: none;
}


.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.product-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #1e7e34;
}
