*{
    margin: 0;
    padding: 0;
}
body{
     background-color: #d8f2d178;
      padding: 50px 50px;
     
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px;
    color: black;
     
}
.status-box{
     padding: 80px 80px;
    background-color: white;
    margin: 500px; 
    
} 