.form-container {
  width: 320px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #991111;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: rgb(237, 243, 243);
}

.form-container h3 {
  text-align: center;
  margin-bottom: 15px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.form-container button {
  padding: 8px 14px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  background-color: #4f46e5;
  color:white;
  cursor: pointer;
}

.form-container button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.form-container button:hover:not(:disabled) {
  background-color: #4338ca;
}

.review p {
  margin: 6px 0;
}
