.navbar {
  display: flex;
  gap: 20px;        
  padding: 15px;
  background-color: #1e293b;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: #60a5fa;
  text-decoration: none;
  font-weight: bold;
}
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  text-align: center;
}
