*{
    margin: 0;
    padding: 0;
}
body{
     background-color: #6770d778;
      padding: 50px 50px;
      /* margin: 200px; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px;
     
}
.counter-box{
     padding: 40px 50px;
    background-color: white;
    margin: 600px; 
    
} 
